<div class="col-12">
  <h1>FOTOGALÉRIA</h1>
  <br>
  <h2>KATEGÓRIE</h2>
  <hr>
</div>
<div class="col-12">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4 zoom"
         (mouseenter)="show_img_bacground($event.target)" (mouseleave)="hide_img_bacground()">
      <div class="category" [routerLink]="'/priroda'">
        <img src="assets/images/images/landscape-meadow-field-mountains-66874.jpeg"
             class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Príroda</h5>
          <p>1 fotka</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4 zoom"
         (mouseenter)="show_img_bacground($event.target)" (mouseleave)="hide_img_bacground()">
      <div class="category" [routerLink]="'/architektura'">
        <img src="assets/images/images/pexels-photo-261187.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Architektúra</h5>
          <p>6 fotiek</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4 zoom"
         (mouseenter)="show_img_bacground($event.target)" (mouseleave)="hide_img_bacground()">
      <div class="category" [routerLink]="'/ludia'">
        <img src="assets/images/images/pexels-photo-27411.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ľudia</h5>
          <p>1 fotka</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4 zoom"
         (mouseenter)="show_img_bacground($event.target)" (mouseleave)="hide_img_bacground()">
      <div class="category" [routerLink]="'/jedlo'">
        <img src="assets/images/images/food-salad-healthy-lunch.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jedlo</h5>
          <p>1 fotka</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4 zoom"
         (mouseenter)="show_img_bacground($event.target)" (mouseleave)="hide_img_bacground()">
      <div class="category" [routerLink]="'/auta'">
        <img src="assets/images/images/pexels-photo-210019.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Autá</h5>
          <p>1 fotka</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
      <div class="category add_category" (click)="displayBasic=true">
        <div class="center">
          <img src="assets/images/icons/Shape_1.svg" alt="...">
          <h4>Pridať kategóriu</h4>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog [closable]="false"  [(visible)]="displayBasic"
          [style]="{width: '50vw'}" [styleClass]="'modal'">
  <ng-template pTemplate="body">
    <div class="modal-dialog" role="document">
      <button class="close_modal" (click)="displayBasic=false" label="Ok" styleClass="p-button-text">
        <img src="./assets/images/icons/close_icon.svg" alt="">
        <span aria-hidden="true">Zavrieť</span>
      </button>
      <div class="modal-content">

        <div class="modal-body">
          <h3 class="modal-title" id="exampleModalLabel">Pridať kategóriu</h3>
        </div>
        <div class="modal-footer">
          <form action="">
            <input type="text" id="fname" name="fname" value="ZADAJTE NÁZOV KATEGÓRIE">
            <button type="button">
              <img src="./assets/images/icons/add_icon.svg" alt="">
              <span aria-hidden="true">Pridať</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </ng-template>

</p-dialog>
