body {
  font-family: "Roboto Thin";
}

.header {
  height: 300px;
  background: darkgray;
}

.header {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
  .bg_image {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}


.container_content {
  margin-top: -200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}


@media(min-width: 576px) {
  .container_content {
    max-width: 540px;
  }
}

@media(min-width: 768px) {
  .container_content {
    max-width: 720px;
  }
}

@media(min-width: 992px) {
  .container_content {
    max-width: 960px;
  }
}

@media(min-width: 1200px) {
  .container_content {
    max-width: 1140px;
  }
}

.footer p {
  color: darkgray;
}
